<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">About Us</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="page-description">
                <p>Ultras is a global online platform that brings together authors, readers, and
                    publishers. Our mission is to bring together authors, readers, and publishers
                    to share content and improve the quality of life through digital publishing. We 
                    believe that everyone should have access to quality content.</p>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Our Team</h1>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="http://localhost:3000/images/product-item2.jpg" class="card-img-top" alt="http://localhost:3000/images/product-item2.jpg">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="http://localhost:3000/images/product-item2.jpg" class="card-img-top" alt="http://localhost:3000/images/product-item2.jpg">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="http://localhost:3000/images/product-item2.jpg" class="card-img-top" alt="http://localhost:3000/images/product-item2.jpg">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="http://localhost:3000/images/product-item2.jpg" class="card-img-top" alt="http://localhost:3000/images/product-item2.jpg">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>